@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    /* background-color: #185adb; */
    /* background: rgba(18, 87, 224, 0.753); */
}

body::-webkit-scrollbar,
section::-webkit-scrollbar,
container::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 15px;
}

.theme-changer {
    background: rgba(0, 0, 0, 0.644);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.493);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    position: fixed;
    width: 60px;
    height: 35px;
    left: -34px;
    top: 63px;
    /* bottom: 5%; */
    /* border: 2px solid white; */
    border-radius: 15px;
    z-index: 20;
    /* background-color: pink; */
}

.pnav {
    font-family: "pacifico", cursive;
    font-weight: none;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(12, 3, 58);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60%;
    width: 100%;
    height: 9vh;
    z-index: 10;
    color: #ffc947;
    border-bottom: 2px solid #2ef107;
}


/* nav p {
  transform: translateX(23px);
} */

.pnav .options {
    /* transform: translateX(-200px); */
    transform: translate(-50%, 0);
    display: flex;
    gap: 100%;
    justify-content: center;
    align-items: center;
}

.phome img,
.pedit img,
.plogout img {
    width: 27px;
    height: 27px;
}

.bold {
    font-weight: bold;
}

section {
    /* background: pink; */
    background-color: #1859dbe7;
    /* background: rgba(255, 255, 255, 0.411); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: flex;
    min-height: 91vh;
    width: 100%;
    justify-content: center;
    scroll-behavior: smooth;
}

section .container {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    min-height: 91vh;
    background: rgba(255, 255, 255, 0.445);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border: 2px solid rgba(255, 255, 255, 0.13);
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    scroll-behavior: smooth;
    min-width: 50%;
}

section .container .top-part {
    /* background-color: silver; */
    padding: 1rem;
    display: flex;
    gap: 100px;
}

section .container .top-part .pright-side {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .container .top-part .pright-side .pdetails {
    display: flex;
    align-items: center;
    gap: 10%;
}

section .container .top-part .pright-side .pdetails .paccount .username {
    font-size: 1.5rem;
}

section .container .top-part .pright-side .overview-sections {
    display: flex;
    gap: 5%;
}

section .container .top-part .pright-side .overview-sections .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .container .top-part .pprofile-photo {
    padding-left: 50px;
}

section .container .top-part .pprofile-photo img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.line {
    margin: 10px 0 10px 0;
    align-self: center;
    width: 85%;
    height: 2px;
    background: white;
}

.bottom-line {
    margin-bottom: 3em;
}

.posts-header {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 25px;
    align-self: center;
}

section .container .posts-container {
    /* background: white; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
    margin-top: 0.25rem;
    /* align-self: center; */
    /* justify-self: center; */
    text-align: center;
}

section .container .posts-container .posts .image img {
    width: 220px;
    height: 220px;
}

.edit-button {
    background-color: #0000009a;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 95px;
    padding: 0.25rem;
    border-radius: 10px;
    color: #ffffffcc;
}

.about-container {
    display: block;
    font-weight: bold;
    width: 80%;
    margin: 1rem auto;
}

.underline {
    margin: 0.5rem auto;
    height: 0.1rem;
    width: 100%;
    background-color: grey;
}

.about {
    font-weight: normal;
    font-size: 0.85rem;
    padding: 0 1rem;
}


/* post container */

.Posts {
    color: #ffffffcb;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    background-color: #0080ff;
    box-shadow: -15px 15px 30px black;
    border: 0.05px solid rgba(0, 0, 0, 0.144);
    margin-bottom: 2rem;
    position: relative;
    /* border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; */
}

.user-posts .crazy-button:hover {
    transform: scale(1);
}

.like-button,
.comment-button,
.share-button {
    cursor: normal;
}

.fa-comment-alt {
    font-size: 1.5rem;
    color: #2ef107;
    cursor: pointer;
}

.fa-trash-alt {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

.fa-pen-square {
    color: blue;
    font-size: 1.7rem;
    cursor: pointer;
    margin-left: 1rem;
}

.update-post {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;
}

.psec .add-feed-after-click {
    visibility: visible;
    display: none;
}

.preview .close-image {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


/* MEDIA QUERIES */

@media (max-width: 770px) {
    section .container .top-part .profile-photo img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
}

@media (max-width: 730px) {
    nav {
        font-size: 1.4rem;
        padding: 0;
        gap: 30%;
        justify-content: space-around;
    }
    nav .options {
        /* transform: translateX(-200px); */
        transform: translate(-50%, 0);
        display: flex;
        gap: 50%;
        justify-content: space-between;
        align-items: center;
    }
    .home img,
    .edit img,
    .logout img {
        width: 23px;
        height: 23px;
    }
    section .container {
        width: 100vw;
    }
    section .container .top-part .profile-photo {
        padding-left: 0;
    }
    section .container .top-part {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    section .container .top-part .right-side .details {
        flex-direction: column;
        gap: 25px;
    }
    section .container .top-part .right-side .details .account {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section .container .top-part .right-side .overview-sections {
        justify-content: center;
    }
    .line2 {
        width: 1px;
        background-color: #ffffffcc;
        height: 50px;
    }
    .about-body {
        padding: 15px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    nav {
        font-size: 1.4rem;
        padding: 0;
        gap: 10%;
        justify-content: space-around;
    }
}


/* DARK THEME */

.dark {
    background-color: rgb(43, 34, 85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: flex;
    min-height: 91vh;
    width: 100%;
    justify-content: center;
    scroll-behavior: smooth;
}

.dark .container {
    background-color: rgba(210, 200, 255, 0.418);
}

.dark .top-part {
    color: #ffffffcc;
}

.dark .posts-header {
    color: #17324d;
}

.dark .edit-button {
    background-color: rgb(123, 93, 255);
    display: flex;
    justify-content: center;
    align-self: center;
    width: 95px;
    padding: 0.25rem;
    border-radius: 10px;
    color: #ffffffcc;
}