* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: bold;
}

a {
    text-decoration: none;
}


/* Main Container */

.main-container {
    width: 63%;
    background-color: rgba(204, 204, 204, 0.431);
    display: flex;
    flex-direction: column;
}

.home-page {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: rgb(24, 90, 219, 0.4);
    padding-top: 1rem;
    /* overflow-y: scroll; */
}


/* Posts */

.Posts {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgb(156, 197, 235);
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Posts header {
    margin-bottom: 1rem;
}

.engageButtons {
    display: flex;
    justify-content: space-evenly;
}

.like-button,
.comment-button,
.share-button {
    display: flex;
    gap: 1.2rem;
    width: 15%;
    height: 60%;
    justify-content: center;
}

.crazy-button {
    transition: all 0.25s ease;
}

.crazy-button:hover {
    transform: scale(1.2);
}


/* Right Section */

.right-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(117, 117, 117, 0.294);
}

.event-table {
    display: flex;
    flex-direction: column;
}

.event {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    /* background-color: rgba(211, 211, 211, 0.383); */
    margin: 1rem 0;
    background-color: rgba(204, 204, 204, 0.431);
}

.event>h3 {
    color: #291261;
}

.suggestions {
    overflow-y: auto;
}

.events-block>h2,
.suggestions>h2 {
    font-size: 1.75em;
    color: rgb(211, 201, 64);
}

.user-table {
    display: flex;
    flex-direction: column;
}

.user {
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
}

.left-section .suggestions .user {
    padding: 0.1rem;
}

.user span {
    align-self: center;
}

.follow-btn {
    align-self: center;
    height: 1.5rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: rgb(105, 142, 245);
    font-size: 0.8rem;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.left-section .suggestions .follow-btn {
    font-size: 0.7rem;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0a1931;
    padding: 0 2rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9%;
    z-index: 10;
    color: #ffc947;
}

.icons {
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding-top: 0.5rem;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.page-button>img {
    width: 1.75rem;
    height: 1.75rem;
}

.page-button {
    position: relative;
    padding: 0.5rem;
}

.page-button::after {
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    content: "Hello";
    position: absolute;
    bottom: -2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align: center;
    visibility: hidden;
}

.home::after {
    content: "Home";
}

.video::after {
    content: "Video";
}

.game::after {
    content: "Game";
}

.page-button:hover::after {
    visibility: visible;
}

.page-button:hover {
    border-bottom: 0.2rem solid #a2fef6;
}

.home-icon:hover {
    color: #a2fef6;
}

.logo {
    padding: 0;
    width: 25%;
    text-transform: capitalize;
    font-size: 1.65rem;
    font-weight: normal;
    font-family: "Pacifico", cursive;
    margin: 0.1rem 2rem;
}

.search {
    width: 20%;
    position: relative;
    margin: 0.5rem 1rem;
    transform: translateX(-1rem);
}

.search-icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    visibility: visible;
    transform: translate(0, 50%);
}

.search input {
    width: 100%;
    height: 2.5rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    transition: all 0.25s ease;
    cursor: text;
    border-radius: 1rem;
    border: 0;
    outline: none;
    background-color: #f0f2f5;
    color: black;
}

.search input::placeholder {
    color: #abadb1;
}

.story-block {
    display: flex;
    padding: 0.3rem;
    background-color: transparent;
    margin: 0 3rem;
    margin-bottom: 1rem;
}

.story-box {
    margin: 0.2rem;
    width: 8rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
    position: relative;
    cursor: pointer;
}

.user-story {
    align-self: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo {
    height: 2.5rem;
    width: 2.5rem;
    border: 0.2rem solid #FFC947;
    border-radius: 50%;
}

.story-profile-photo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.user-name {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #fff;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0 0 1rem 1rem;
}

section {
    font-family: "Ubuntu", cursive;
    display: flex;
    font-size: 1rem;
    align-items: space-between;
    /* background: linear-gradient(to right, #a1fff7, #ffa6b5); */
    background-color: #185adb;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
}

.left-section {
    display: flex;
    flex-direction: column;
    /* width: 16rem; */
    padding: 0.5rem;
    width: 17%;
    background-color: rgba(117, 117, 117, 0.294);
}

.lower {
    height: 13%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    margin-bottom: 4rem;
}

.feature {
    display: flex;
    height: 200%;
    gap: 4px;
    padding: 10px 0;
}

.feature:hover {
    background-color: rgba(34, 34, 34, 0.315);
}

.feed-section {
    margin: 1rem 5rem;
}

.add-user-feed {
    background-color: rgb(156, 197, 235);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: #fff;
    position: relative;
}

.profile-photo-feed {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
}

.feed-input {
    background-color: #e4e6e8;
    padding: 1rem 1rem;
    border-radius: 2rem;
    margin: 0rem 4rem;
    cursor: text;
    width: 75%;
}

.underline-feed {
    height: 0.1rem;
    margin-top: 1rem;
    background-color: #d1d1d1;
}


/* taking image input  */

.add-photo-feed {
    background-color: rgb(24, 90, 219, 0.4);
    width: 25%;
    margin: 0 auto;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-photo-icon {
    height: 2rem;
    width: 2rem;
}

#img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-feed-after-click {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 100;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    visibility: hidden;
}

.post-container {
    text-align: center;
    background-color: rgb(156, 197, 235);
    font-size: 1rem;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

@media (max-width: 768px) {
    body {
        font-size: 6px;
    }
    .post-container {
        width: 90vw;
    }
}

.post-container .heading {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5em;
    margin: 0rem 3rem;
    /* line-height: 3.3rem; */
}

.post-container .underline-feed {
    margin-top: 0;
}

.post-user-info {
    height: 3rem;
    position: relative;
    margin-top: 1rem;
}

.profile-photo-feed-insert {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 1rem;
}

.user-name-feed {
    margin-left: 1rem;
    position: absolute;
    font-size: 1rem;
    top: 1.5rem;
    left: 4rem;
    transform: translate(0, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.post-section {
    margin: 1rem 0.5rem;
    height: 15rem;
    overflow: auto;
    /* overflow-x: hidden; */
}

.post-section textarea {
    background-color: rgb(156, 197, 235);
}

.post-button {
    display: none;
}

.preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* .preview img {
    margin: 1rem;
    width: 100%;
    background-color: #A2FEF6;
} */

.feed-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    align-self: center;
}

@media (max-width:600px) {
    .feed-image {
        height: 10rem;
    }
}

.feed-text {
    border: 0;
    outline: none;
    width: 100%;
    resize: none;
    font-size: 1.5rem;
}

.close-feed {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.profile-photo-close {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 0.5em;
    border: 0;
    cursor: pointer;
    background-color: lightgrey;
}

.profile-photo-close:hover {
    background-color: rgb(185, 185, 185);
}

.btn {
    padding: 0.5em;
    margin-top: 1rem;
    background-color: #27ae60;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 1rem;
    border-radius: 0.5em;
    /* display: 'none'; */
}


/* media queries */

@media (max-width: 500px) {
    body {
        font-size: 3px;
        width: 100vw;
        overflow-x: hidden;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 0.5rem;
    }
    .logo {
        width: 100%;
        margin: 0 0.5rem;
    }
    .search {
        width: 60%;
        margin: 0 0rem;
        position: absolute;
        top: 1rem;
        right: 0.1rem;
    }
    .icons {
        width: 100%;
        grid-column: 1 / span 2;
    }
    section {
        display: block;
    }
    .left-section,
    .right-section,
    .story-block {
        display: none;
    }
    .main-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .feed-section {
        width: 100%;
        margin: 1rem 0rem;
    }
    .home-page {
        padding: 0;
        background-color: transparent;
    }
    .add-user-feed {
        padding: 0.1rem;
    }
    .profile-photo-feed {
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
    .feed-input {
        font-size: 0.8rem;
        margin: 1rem 4rem;
    }
    .post-section textarea {
        font-size: 1rem;
    }
    .add-photo-feed {
        background-color: transparent;
        width: 50%;
        margin-bottom: 0.5rem;
    }
}