<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <!-- Left Panel -->
    <div class="left-section">
      <!-- Top -->
      <div class="top">
        <img
          src="../../assets/Dubify_Project_logo.png"
          alt="Dubify-Logo"
          width="150"
          height="50"
        />
        <input type="search" placeholder="search" autocomplete="off" />
        <button type="button">Create New</button>
      </div>
      <!-- Features Block -->
      <div class="lower">
        <div class="feature">
          <img src="../../assets/Covid_Info.svg" />
          <span>Covid-19 Information</span>
        </div>
        <div class="feature">
          <img src="../../assets/Friends.svg" />
          <span>Friends</span>
        </div>
        <div class="feature">
          <img src="../../assets/Video.svg" />
          <span>Video</span>
        </div>
        <div class="feature">
          <img src="../../assets/Trending.svg" />
          <span>Trending</span>
        </div>
      </div>
    </div>

    <!-- Main Container Where Others Others Posts wouls be shown -->
    <div class="main-container">
      <div class="icons">
        <img src="../../assets/Home.svg" />
        <img src="../../assets/Video.svg" />
        <img src="../../assets/Game.svg" />
      </div>
      <div class="HomePage">
        <!-- Stories Section -->
        <div class="StoryBlock">
          <div class="box">
            <img src="../../assets/CreateStory.svg" width="175" height="200" />
            <div class="persons-name">
              <img
                src="../../assets/MyProfilePhoto.jpg"
                width="42"
                height="35"
              />
              <span>ME</span>
            </div>
          </div>
          <div class="box">
            <img src="../../assets/User1.jpg" width="175" height="200" />
            <div class="persons-name">
              <img
                src="../../assets/User1ProfilePhoto.png"
                width="42"
                height="35"
              />
              <span>User1</span>
            </div>
          </div>
          <div class="box">
            <img src="../../assets/User2.jpg" width="175" height="200" />
            <div class="persons-name">
              <img
                src="../../assets/User2ProfilePhoto.jpg"
                width="42"
                height="35"
              />
              <span>User2</span>
            </div>
          </div>
          <div class="box">
            <img src="../../assets/User3.jpg" width="175" height="200" />
            <div class="persons-name">
              <img
                src="../../assets/User3ProfilePhoto.jpg"
                width="42"
                height="35"
              />
              <span>User3</span>
            </div>
          </div>
          <div class="box">
            <img src="../../assets/User4.jpg" width="175" height="200" />
            <div class="bpersons-name">
              <img
                src="../../assets/User4ProfilePhoto.jpg"
                width="42"
                height="35"
              />
              <span>User4</span>
            </div>
          </div>
        </div>

        <!-- Create Our New Post -->
        <div class="create-new-post">
          <div class="user">
            <img src="../../assets/MyProfilePhoto.jpg" width="42" height="35" />
            <span>ME</span>
          </div>
          <div class="add-text">
            <input type="text" placeholder="What's in your Crazy Mind?" />
          </div>
          <div class="upload-files">
            <div id="upload_button" style="display: inline-block">
              <label>
                <input
                  style="display: none"
                  type="file"
                  ngf-select
                  ng-model="new_files"
                  ng-change="fs.uploadFiles(new_files)"
                  multiple
                />
                <span class="btn btn-primary"
                  ><img src="../../assets/AddPhoto.svg" /> Photo</span
                >
              </label>
            </div>
            <div id="upload_button" style="display: inline-block">
              <label>
                <input
                  style="display: none"
                  type="file"
                  ngf-select
                  ng-model="new_files"
                  ng-change="fs.uploadFiles(new_files)"
                  multiple
                />
                <span class="btn btn-primary"
                  ><img src="../../assets/AddVideo.svg" /> Video</span
                >
              </label>
            </div>
          </div>
        </div>

        <!-- Others Posts -->
        <div class="Posts">
          <div class="user">
            <img
              src="../../assets/User2ProfilePhoto.jpg"
              width="42"
              height="35"
            />
            <span>User2</span>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
              maiores, amet illum vero a dolore.
            </p>
            <div class="images">
              <img src="../../assets/PostImage1.jpg" height="200" width="250" />
              <img src="../../assets/PostImage2.jpg" height="200" width="250" />
              <img
                src="../../../assets/PostImage3.jpg"
                height="200"
                width="250"
              />
            </div>
            <div class="engageButtons">
              <img src="../../assets/LikeButton.svg" />
              <span class="likes">200</span>
              <img src="../../assets/Comment.svg" />
              <span class="comments">70</span>
              <img src="../../assets/Share.svg" />
              <span class="share">35</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <!-- Events -->
      <div class="events-block">
        <h2>Events</h2>
        <div class="events-table">
          <div class="event1">
            <h4>Art Contest</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="event2">
            <h5>Singing Competition</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="event3">
            <h5>Live Consert</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>
      </div>
      <!-- Friends Suggestions -->
      <div class="suggestions">
        <h2>Suggestions</h2>
        <div class="users-table">
          <div class="user">
            <img
              src="../../assets/User1ProfilePhoto.png"
              width="42"
              height="35"
            />
            <span>User1</span>
          </div>
          <div class="user">
            <img
              src="../../assets/User2ProfilePhoto.jpg"
              width="42"
              height="35"
            />
            <span>User2</span>
          </div>
          <div class="user">
            <img
              src="../../assets/User3ProfilePhoto.jpg"
              width="42"
              height="35"
            />
            <span>User3</span>
          </div>
          <div class="user">
            <img
              src="../../assets/User4ProfilePhoto.jpg"
              width="42"
              height="35"
            />
            <span>User4</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
