@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 15px;
}

body {
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.157);
    color: white;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* margin-left: 5vw; */
    background-color: transparent;
    overflow: hidden;
}

.left-container {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0A1931;
    padding: 1rem;
}

.logo {
    color: #ffc947;
    font-size: 30px;
    height: 80px;
    font-family: "Pacifico", cursive;
}

.logo>span {
    font-weight: bold;
    font-family: "ubuntu", cursive;
}

.underline {
    margin: 0.5rem 0.1rem;
    height: 0.1rem;
    width: 100%;
    background-color: grey;
}

.stories-list {
    width: 100%;
    overflow: auto;
}

.story-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0.25rem;
    margin-bottom: 1rem;
    border-radius: 0.5em;
}

.view-your-story {
    display: none;
    cursor: pointer;
}

.stories-list .story-item {
    cursor: pointer;
}

.stories-list .story-item:hover {
    background-color: #635986;
}

.user-profile {
    cursor: pointer;
}

.user-profile img,
.user-profile i {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 0.15rem solid #ffc947;
    padding: 2px;
}

.user-name {
    font-size: 1rem;
    margin-left: 0.5rem;
    transform: translateY(-15%);
}

.right-container {
    position: relative;
    width: 80vw;
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.current-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.current-background-image {
    object-fit: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
    /* opacity: 0.5; */
}

.prev,
.next {
    color: black;
    font-size: 2rem;
    background-color: transparent;
    z-index: 10;
    visibility: hidden;
}

.previous-image img,
.current-image img,
.next-image img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    background-position: center;
    border-radius: 1rem;
}

.current-image {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.previous-image,
.next-image {
    height: 60%;
    text-align: center;
    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
}

.current-image .picture {
    margin: 0.5rem;
    width: 100%;
}

.add-story-to-screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-story-to-screen .user-profile img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    padding: 0;
    border: 0.2rem solid white;
}

.user-name-story {
    text-align: center;
    position: absolute;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; */
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: black;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0.2rem 0.5rem 0.2rem;
    margin: 0 0rem;
}

.story-profile-photo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    cursor: default;
}

.image-selector {
    cursor: pointer;
}

.change-button {
    display: none;
}

.upload-button {
    cursor: pointer;
}

.common-loading-like {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.40);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 0.5px);
    -webkit-backdrop-filter: blur( 0.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    /* background-color: red;
    z-index: 100; */
}

.loading-effect {
    visibility: hidden;
}

.loading-effect h3 {
    color: black;
}

.loader {
    border: 0.1rem solid black;
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.1rem;
}

.add-story {
    position: absolute;
    display: none;
    top: 1rem;
    right: 1rem;
}

.message-container {
    position: fixed;
    right: 1rem;
    width: 30%;
    padding: 1rem;
    z-index: 1000;
}

.confirmation-message {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bolder;
    z-index: 10;
    width: 100%;
    height: 4rem;
    /* background-color: greenyellow; */
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.request-message {
    align-self: center;
    color: black;
}

@media (max-width:768px) {
    .message-container {
        width: 100%;
        right: 0;
        left: 0;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .message-container {
        width: 50%;
        right: 1rem;
    }
}

.icon1,
.icon2 {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    border: 0.15rem solid;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 1rem auto 0;
    opacity: 0;
}

.icon1 {
    color: #e74c3c;
    border-color: #e74c3c;
}

.icon2 {
    color: #27ae60;
    border-color: #27ae60;
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba( 255, 255, 255, 0.40);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    visibility: hidden;
}

.engageButtons {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.like-button {
    display: flex;
    gap: 1.2rem;
    width: 15%;
    height: 60%;
    justify-content: center;
}

.crazy-button {
    transition: all 0.25s ease;
}

.crazy-button:hover {
    transform: scale(1.2);
}

.fa-heart {
    font-size: 1.5rem;
    color: red;
}

.likes {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.like-story {
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


/* @media only screen and (max-width: 987px) {
    main {
        width: 100vw;
        margin: 0;
    }
    .left-container {
        width: 30vw;
    }
    .right-container {
        width: 70vw;
    }
}

@media only screen and (max-width: 730px) {
    main {
        height: 100vh;
        width: 100vw;
    }
    .logo {
        font-size: 4vw;
    }
    .right-container {
        width: 100vw;
        height: 100vh;
    }
    .close-button {
        width: 65vw;
    }
    .toggle img {
        height: 3vw;
    }
    .like-button {
        border: 1.5px solid rgb(253, 253, 253);
        padding: 3px 10px;
    }
}

@media only screen and (max-width: 690px) {
    .user-name {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .left-container {
        width: 15vw;
    }
    .close-button {
        width: 75vw;
    }
    .close-button img {
        height: 15px;
    }
}

@media only screen and (max-width: 590px) {
    .left-container {
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }
    .right-container {
        width: 100vw;
        height: 100vh;
    }
    .close-button {
        width: 98vw;
    }
    .like-button {
        border: 1px solid rgb(253, 253, 253);
        padding: 2.5px 10px;
    }
}

@media only screen and (max-width: 450px) {
    .picture {
        width: 85vw;
        height: auto;
    }
    like-button {
        border: 1.5px solid rgb(253, 253, 253);
        padding: 2px 8px;
    }
} */